@page "/watchlist/details"
@inject BlazorCRUD.Data.ApplicationDbContext DB
@using BlazorCRUD
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using BlazorCRUD.Models


<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>watchlist</h4>
    <hr />
    @if (watchlist is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Content</dt>
            <dd class="col-sm-10">@watchlist.Content</dd>
            <dt class="col-sm-2">Sauce</dt>
            <dd class="col-sm-10">@watchlist.Sauce</dd>
            <dt class="col-sm-2">Time</dt>
            <dd class="col-sm-10">@watchlist.DateTime</dd>
        </dl>
        <div>
            <a href="@($"/watchlist/edit?id={watchlist.Id}")">Edit</a> |
            <a href="@($"/watchlist")">Back to List</a>
        </div>
    }
</div>

@code {
    Watchlist? watchlist;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        watchlist = await DB.Watchlist.FirstOrDefaultAsync(m => m.Id == Id);

        if (watchlist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
}